@font-face {
    font-family: 'Hillray';
    src: url('fonts/Hillray-Regular.woff2') format('woff2'),
        url('fonts/Hillray-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

